<style>
    .card_holder {
        width: 100%;
        min-height: 200px;
        background-color: #8FD5A6;
        display: flex;
        flex-wrap: wrap;
        padding: auto;
    }

    .play_holder {
        width: 100%;
        min-height: 80px;
        background-color: #a1dbb4;
        display: flex;
        justify-content: center;
        padding: auto;
        overflow-y: scroll;
    }

    app-card {
        height: auto;
        transition: 0.1s;
        padding-top: 2px;
        padding-bottom: 2px;
        
    }
    .play_holder app-card:not(:first-child) {
        margin-left: -1.5rem;
    }
    .play_holder app-card:hover {
        transform: translateY(-1em);
    }
    .cdk-drag {
        height: 100px;
    }

</style>
<div>
    <div class="gridparent">
        <div #play_holder (mouseover)="playAreaHovered=true" (mouseout)="playAreaHovered=false" class="play_holder">
            <app-card class="card" *ngFor="let card of play" [card]=card></app-card>
        </div>
    </div>
    <div class="card_holder">
        <app-card (cdkDragReleased)="selectedcard=null" (cdkDragStarted)="dragged($event)" (cdkDragMoved)="move($event)" class="card" *ngFor="let card of cards" [card]=card cdkDrag></app-card>
    </div>
</div>

